# Assigment

### Question 1

What is a database? Differentiate between SQL and NoSQL databases.

### Answer

A database is a collection of related data that is stored and organized in a way that enables easy access, retrieval, and management. A database management system (DBMS) is a software system that allows users to define, create, and manage databases.

SQL (Structured Query Language) and NoSQL (Not Only SQL) are two main types of database management systems. SQL databases are relational databases that store data in tables with predefined columns and data types. They use SQL as the primary language for querying and manipulating data, and are designed to handle structured data. Examples of SQL databases include MySQL, Oracle, and Microsoft SQL Server.

On the other hand, NoSQL databases are non-relational databases that store data in a flexible, unstructured way. They do not use SQL as the primary language, but instead use other query languages or APIs. NoSQL databases are designed to handle semi-structured or unstructured data, such as JSON, XML, or key-value pairs. Examples of NoSQL databases include MongoDB, Cassandra, and Couchbase.

The main differences between SQL and NoSQL databases are as follows:

1. Data Structure: SQL databases use a tabular structure with predefined columns and data types, while NoSQL databases use a flexible schema that can handle unstructured and semi-structured data.

2. Query Language: SQL databases use SQL as the primary language for querying and manipulating data, while NoSQL databases use other query languages or APIs.

3. Scalability: NoSQL databases are designed to be horizontally scalable, meaning that they can handle large amounts of data and traffic by adding more nodes to a cluster. SQL databases can also be scaled horizontally, but it requires more effort and planning.

4. Data Integrity: SQL databases enforce strong data integrity and consistency through the use of constraints, transactions, and foreign key relationships. NoSQL databases offer weaker data integrity and consistency guarantees, but they offer higher availability and partition tolerance.

In summary, SQL databases are best suited for handling structured data with well-defined relationships between tables, while NoSQL databases are better suited for handling semi-structured or unstructured data that requires flexibility and scalability.

### Question 2

What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

### Answer

DDL stands for Data Definition Language, which is a subset of SQL used to define and manipulate the structure of a database. DDL statements are used to create, modify, and delete database objects such as tables, indexes, and constraints. The four main DDL statements are CREATE, DROP, ALTER, and TRUNCATE, and they are used for the following purposes:

1. CREATE: The CREATE statement is used to create new database objects such as tables, indexes, and views. For example, the following SQL statement creates a new table named "employees" with three columns: "id", "name", and "salary":

In [ ]:
CREATE TABLE employees (
   id INT PRIMARY KEY,
   name VARCHAR(50) NOT NULL,
   salary DECIMAL(10,2) NOT NULL
);

2. DROP: The DROP statement is used to delete existing database objects such as tables, indexes, and views. For example, the following SQL statement deletes the "employees" table:

In [ ]:
DROP TABLE employees;

3. ALTER: The ALTER statement is used to modify the structure of existing database objects such as tables, indexes, and views. For example, the following SQL statement adds a new column named "email" to the "employees" table:

In [ ]:
ALTER TABLE employees ADD COLUMN email VARCHAR(50);

4. TRUNCATE: The TRUNCATE statement is used to delete all the data in a table, while keeping the table structure intact. It is faster than using the DELETE statement for large tables. For example, the following SQL statement deletes all the data in the "employees" table:

In [ ]:
TRUNCATE TABLE employees;

In summary, CREATE, DROP, ALTER, and TRUNCATE are important DDL statements used to define and manipulate the structure of a database. CREATE is used to create new database objects, DROP is used to delete existing objects, ALTER is used to modify existing objects, and TRUNCATE is used to delete all the data in a table.

### Question 3

What is DML? Explain INSERT, UPDATE, and DELETE with an example.

### Answer

DML stands for Data Manipulation Language, which is a subset of SQL used to manipulate the data stored in a database. DML statements are used to insert, update, and delete data in database tables. The three main DML statements are INSERT, UPDATE, and DELETE, and they are used for the following purposes:

1. INSERT: The INSERT statement is used to insert new rows of data into a table. For example, the following SQL statement inserts a new row into a table named "employees" with values for the "id", "name", and "salary" columns:

In [ ]:
INSERT INTO employees (id, name, salary) VALUES (1, 'John', 50000);

2. UPDATE: The UPDATE statement is used to modify existing rows of data in a table. For example, the following SQL statement updates the salary of the employee with the id of 1 to 60000:

In [ ]:
UPDATE employees SET salary = 60000 WHERE id = 1;

3. DELETE: The DELETE statement is used to delete existing rows of data from a table. For example, the following SQL statement deletes the employee with the id of 1:

In [ ]:
DELETE FROM employees WHERE id = 1;

In summary, INSERT, UPDATE, and DELETE are important DML statements used to manipulate the data stored in a database. INSERT is used to insert new rows of data, UPDATE is used to modify existing rows of data, and DELETE is used to delete existing rows of data.

### Question 4

What is DQL? Explain SELECT with an example.

### Answer

DQL stands for Data Query Language, which is a subset of SQL used to retrieve data from a database. DQL statements are used to select, filter, and sort data in database tables. The main DQL statement is SELECT, and it is used to retrieve data from one or more tables in a database. The SELECT statement is very powerful and flexible, and it can be used to retrieve data in many different ways.

The basic syntax of a SELECT statement is as follows:

In [ ]:
SELECT column1, column2, ... FROM table_name WHERE condition;

Here, "column1", "column2", etc. are the names of the columns that you want to retrieve data from, and "table_name" is the name of the table that you want to retrieve data from. The "WHERE" clause is optional, and it is used to specify a condition that the rows must meet in order to be included in the result set.

For example, suppose we have a table named "employees" with columns named "id", "name", and "salary". We can retrieve all the data from the table using the following SQL statement:

In [ ]:
SELECT * FROM employees;

This will retrieve all the columns and rows from the "employees" table. If we only want to retrieve the "name" and "salary" columns, we can use the following SQL statement:

In [ ]:
SELECT name, salary FROM employees;

If we only want to retrieve the rows where the salary is greater than 50000, we can use the following SQL statement:

In [ ]:
SELECT * FROM employees WHERE salary > 50000;

In summary, SELECT is the main DQL statement used to retrieve data from a database. It is used to select columns from one or more tables, and it can be used to filter and sort the data in many different ways.

### Question 5

Explain Primary Key and Foreign Key.

### Answer

Primary Key and Foreign Key are two important concepts in relational database design.

A Primary Key is a column or set of columns in a database table that uniquely identifies each row in that table. It is a unique identifier that is used to ensure the integrity and consistency of the data in the table. A Primary Key cannot be null, meaning that every row in the table must have a unique value in the Primary Key column(s). Primary Keys are used to enforce constraints on the data in a table and to create relationships between tables.

For example, consider a table named "employees" with columns named "id", "name", and "salary". We can make "id" a Primary Key column to ensure that each employee has a unique id. This will prevent any duplicate or inconsistent data from being entered into the table.

A Foreign Key is a column or set of columns in a database table that refers to the Primary Key column(s) in another table. It is used to establish relationships between tables, and to enforce referential integrity. A Foreign Key column in one table must match a Primary Key column in another table. This ensures that the data in the Foreign Key column(s) is consistent with the data in the Primary Key column(s).

For example, consider two tables named "employees" and "departments". The "employees" table has a Primary Key column named "id", and the "departments" table has a Primary Key column named "dept_id". We can create a Foreign Key column in the "employees" table named "dept_id" that refers to the "dept_id" column in the "departments" table. This will ensure that every "dept_id" in the "employees" table is a valid "dept_id" in the "departments" table.

In summary, Primary Keys and Foreign Keys are important concepts in relational database design. Primary Keys are used to uniquely identify each row in a table, while Foreign Keys are used to establish relationships between tables and enforce referential integrity.

### Question 6

Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

### Answer

Here's an example Python code to connect to MySQL from Python using the mysql-connector module:

In [ ]:
import mysql.connector

# create a connection object
mydb = mysql.connector.connect(
  host="localhost",
  user="username",
  password="password",
  database="mydatabase"
)

# create a cursor object
mycursor = mydb.cursor()

# execute a SQL query
mycursor.execute("SELECT * FROM customers")

# fetch all the results
myresult = mycursor.fetchall()

# print the results
for row in myresult:
  print(row)

In this example, we first import the mysql.connector module. Then, we create a connection object by specifying the database details such as the host, username, password, and database name. Next, we create a cursor object using the cursor() method of the connection object.

The cursor object is used to execute SQL queries on the database. We can use the execute() method of the cursor object to execute any SQL query. In this example, we execute a SELECT statement to retrieve all the data from the "customers" table.

Once we execute the query, we use the fetchall() method of the cursor object to fetch all the results. This returns a list of tuples, where each tuple represents a row in the result set.

Finally, we loop through the result set and print each row.

The cursor() method is used to create a cursor object, which is used to execute SQL queries on the database. The cursor object provides several methods to interact with the database, such as execute(), fetchone(), fetchall(), commit(), and rollback(), among others.

The execute() method is used to execute a SQL query on the database. It takes a single argument, which is the SQL query to be executed. We can use placeholders in the SQL query and pass values using a tuple or a dictionary. The execute() method returns None, but it modifies the state of the cursor object, such as the number of rows affected by the query.

In summary, the cursor() and execute() methods are used to interact with a MySQL database from Python. The cursor() method creates a cursor object, while the execute() method is used to execute SQL queries on the database.

### Question 7

Give the order of execution of SQL clauses in an SQL query.

### Answer

In an SQL query, the clauses are executed in the following order:

1. SELECT - specifies the columns to be retrieved from one or more tables.
2. FROM - specifies the table or tables from which to retrieve the data.
3. JOIN - combines rows from two or more tables based on a related column between them.
4. WHERE - filters the rows based on a specified condition.
4. GROUP BY - groups the rows based on a specified column or expression.
5. HAVING - filters the groups based on a specified condition.
6. ORDER BY - sorts the rows based on a specified column or expression.
7. LIMIT - specifies the maximum number of rows to be returned.

Note that not all clauses are required in every SQL query, and some clauses may appear multiple times in a single query. However, the clauses are executed in the order listed above, and each clause operates on the results of the previous clause. For example, the WHERE clause filters the rows retrieved by the FROM and JOIN clauses, and the GROUP BY clause groups the rows filtered by the WHERE clause.